<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="GD_Decouverte.Properties.Settings.BDConnectionString_perso"
   connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\perso.mdb"
   providerName="System.Data.OleDb" />
  <add name="GD_Decouverte.Properties.Settings.BDConnectionString_Couches"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\COURS\POO\GD_Decouverte\GD_Decouverte\BDpersonne.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>